name: Build & Snapshot

on:
  push:
    branches:
      - "*"

jobs:
  build:
    if: |
      !contains(github.event.head_commit.message, '[ciskip]')
    uses: nanite/workflows/.github/workflows/release.yml@v1.3
    env:
      SNAPSHOT: true
    with:
      java-version: 21
      gradle-tasks: build publish
    secrets:
      nanite-token: ${{ secrets.NANITE_DEPLOY }}
